# Dependencies
node_modules/

# Builds / Bundles
dist/
out/
*.asar

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Lokale DB-Dateien (nur Laufzeit!)
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db
*.db-journal

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

# Electron / Misc
electron/*.log

# Arbeitsordner / Backups im SQL-Baum
sql/**/__off/
